Exports/
FL/**/*.ogg
FL/**/*.wav
FL/**/*.mp3
FL/Lavity/Backup/
FL/Dynamic/LavityDynamicColorMusic/Backup/
FL/SFX/SFX/Backup/
FL/Polychrome/Backup/
Obsidian/Lavity/.obsidian/workspace.json

*.DS_STORE

.vscode/*
